$carbon: rgb(55,62,66); // Carbon
$anthracite: rgb(103,106,109); // Anthracite
$steel: rgb(130,144,154); // Steel
$aluminium: rgb(189,194,202); // Aluminium
$silver: rgb(234,234,235); // Silver
$salt: rgb(250,250,250); // Salt